<div class="list-group list-group-flush next-events">
{% for event in entities %}
  <a href="{{ path('tigris_calendar_event_show', {"slug": event.slug}) }}" class="list-group-item list-group-item-action">
    <span class="date">{{ event.startDate|format_datetime("medium", "none") }}</span> {{ event.name }}
</a>
{% endfor %} 
</div>