{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/ajax-layout.html.twig'
    : '@TigrisBase/layout.html.twig' %}
{% block main %}
    
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% block title %}{{ 'calendar.event.edit.title'|trans }}{% endblock %}
    {% endembed %}
{% endblock %}