{% extends '@TigrisBase/layout.html.twig' %}
{% block title %}{{ 'calendar.event.calendar'|trans|parse_icons }}{% endblock %}
{% block main %}

<div id="event-calendar">
    <div class="card">
        <div class="card-body">
            <div id="calendar" class="tigris-calendar" list-route="tigris_calendar_event_list" show-item-route="tigris_calendar_event_preview" init-view="list">
            </div>
        </div>
    </div>
</div>
{% endblock %}