{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/ajax-layout.html.twig'
        : '@TigrisBase/layout.html.twig' %}
{% block main %}
    
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% block title %}{{ 'calendar.event.add.title'|trans }}{% endblock %}
    {% block body %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-general-tab" data-bs-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">{{ 'page.general'|trans }}</a>
            <a class="nav-item nav-link" id="nav-repeat-tab" data-bs-toggle="tab" href="#nav-repeat" role="tab" aria-controls="nav-repeat" aria-selected="false">{{ 'page.advanced'|trans }}</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade pt-3 show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
            {{ form_row(form.name) }}
            {{ form_row(form.startDate.date) }}
            {{ form_row(form.endDate.date) }}
            {{ form_row(form.allDay) }}
            {{ form_row(form.startTime.time) }}
            {{ form_row(form.endTime.time) }}
        </div>

        <div class="tab-pane fade pt-3" id="nav-repeat" role="tabpanel" aria-labelledby="nav-repeat-tab">
            {{ form_row(form.repeat) }}
        </div>
    </div>
    {% endblock %}
    {% endembed %}
{% endblock %}