{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/ajax-layout.html.twig'
    : '@TigrisBase/layout.html.twig' %}
{% block main %}
<h1>{{ entity.name }}</h1>
<div class="calendar-event">
    <div class="event-dates">
        {% if entity.allDay %}
        {{ entity.startDate|format_datetime("full", "none")}} - {{ entity.endDate|format_datetime("full", "none")}}
        {% else %}
        {{ entity.startDateTime|format_datetime("full", "short")}} - {{ entity.endDateTime|format_datetime("full", "short")}}
        {% endif %}
    </div>
    <div class="description">
        {{ entity.description|raw }}
    </div>
</div>
{% endblock %}