<strong>{{ form_label(form.everyCount) }}</strong>
<div class="row mb-3">
    <div class="col-lg-3 col-md-4">
        {{ form_widget(form.everyCount) }}
    </div>
    <div class="col-lg-3 col-md-4">
        {{ form_widget(form.everyType) }}
    </div>
</div>

<div class="repeat-week">
{{ form_row(form.days) }}
</div>
<div class="repeat-month">
{{ form_row(form.everyMonthDayType) }}
</div>

<div class="mt-3">
<strong>{{ form_label(form.iterationType) }}</strong>
<div class="row">
    <div class="col-lg-3 col-md-4">
        {{ form_widget(form.iterationType.children[0]) }}
    </div>
    <div class="col-lg-3 col-md-4">
        
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4">
        {{ form_widget(form.iterationType.children[1]) }}
    </div>
    <div class="col-lg-3 col-md-4">
        {{ form_row(form.endDate) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4">
        {{ form_widget(form.iterationType.children[2]) }}
    </div>
    <div class="col-lg-3 col-md-4">
        {{ form_row(form.iterations) }}
    </div>
</div>
</div>