{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% block title %}{{ 'calendar.event.edit.title'|trans }}{% endblock %}
    {% block body %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-general-tab" data-bs-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">{{ 'calendar.event.label'|trans }}</a>
            <a class="nav-item nav-link" id="nav-repeat-tab" data-bs-toggle="tab" href="#nav-repeat" role="tab" aria-controls="nav-repeat" aria-selected="false">{{ 'calendar.repeat.label'|trans }}</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade pt-3 show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
            {{ form_row(form.name) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.description) }}
            <div class="date">
                <div class="row">
                    <div class="col-md-3">
                    {{ form_row(form.startDate.date) }}
                    </div>
                    <div class="col-md-3">
                    {{ form_row(form.endDate.date) }}
                    {{ form_errors(form.endDate) }}
                    </div>
                </div>
            </div>

            {{ form_row(form.allDay) }}
            <div class="time">
                <div class="row">
                    <div class="col-md-3">
                    {{ form_row(form.startDate.time) }}
                    </div>
                    <div class="col-md-3">
                    {{ form_row(form.endDate.time) }}
                    </div>
                </div>
            </div>

            
        </div>

        <div class="tab-pane fade pt-3" id="nav-repeat" role="tabpanel" aria-labelledby="nav-repeat-tab">
            {{ form_row(form.activeRepeat) }}
            <div class="repeat-form fade">
            {% include "@TigrisCalendar/admin/event/_repeat_form.html.twig" with {"form": form.repeat} only %}
            </div>
        </div>
    </div>
    {% endblock %}
    {% endembed %}
{% endblock %}