{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'calendar.event.calendar'|trans|parse_icons }}{% endblock %}
{% block main %}
<div id="event-calendar">
    <div class="card">
        <div class="card-body">
            <div id="calendar" class="tigris-calendar" list-route="tigris_calendar_event_list" new-event-route="tigris_calendar_admin_event_new" show-item-route="tigris_calendar_admin_event_preview">
            </div>
        </div>
    </div>
</div>
{% endblock %}