{% embed "@TigrisBase/decorators/_card.html.twig" %}
    {% block header %}
        <span class="lead">{{ entity.name }}</span>
    {% endblock %}

    {% block body %}
    <div class="event-dates">
        {% if entity.allDay %}
            {% if entity.startDate == entity.endDate %}
            {{ entity.startDate|format_datetime("full", "none")}}
            {% else %}
            {{ entity.startDate|format_datetime("full", "none")}} - {{ entity.endDate|format_datetime("full", "none")}}
            {% endif %}
        {% else %}
            {% if entity.startDate == entity.endDate %}
                {{ entity.startDateTime|format_datetime("full", "short")}} - {{ entity.endTime|format_datetime("none", "short")}}
            {% else %}
                {{ entity.startDateTime|format_datetime("full", "short")}} - {{ entity.endDateTime|format_datetime("full", "short")}}
            {% endif %}
        
        {% endif %}
    </div>
    <div class="description">
        {{ entity.description|striptags|truncate(180) }}
    </div>
    {% endblock %}

    {% block footer %}
    <a href="{{ path("tigris_calendar_event_show", {"slug": entity.slug}) }}" class="btn btn-primary">{{ "button.more_info"|trans }}</a>
    {% if is_granted('edit', entity) %}
    <a href="{{ path("tigris_calendar_admin_event_edit", {"id": entity.id}) }}" class="btn btn-light me-2">{{ ".icon-pencil"|parse_icons }}</a>
    <a href="{{ path("tigris_calendar_admin_event_remove", {"id": entity.id}) }}" class="btn btn-danger">{{ ".icon-trash"|parse_icons }}</a>
    {% endif %}
    {% endblock %}
{% endembed %}