{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'type': 'danger'} %}
    {% block title %}{{ 'calendar.booking.cancel.title'|trans }}{% endblock %}
    {% block body %}
    <p>{{ 'calendar.booking.cancel.message'|trans({"%entity%": entity.resource})|raw }}</p>
    {% endblock %}
    {% endembed %}
{% endblock %}