{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    
    {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block title %}{{ 'calendar.booking.cannot_booking'|trans }}{% endblock %}
    {% block body %}
    
    {% endblock %}
    {% endembed %}
{% endblock %}