{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% block title %}{{ 'calendar.booking.edit.title'|trans }}{% endblock %}
    {% block body %}
    {% include '@TigrisCalendar/admin/booking/_form.html.twig' %}
    {% endblock %}
    {% endembed %}
{% endblock %}