{% extends '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ 'calendar.booking.calendar'|trans|parse_icons }}{% endblock %}
{% block main %}
{% include "@TigrisCalendar/booking/_booking_calendar.html.twig" with {"admin": true} %}
{% endblock %}

{% block javascripts %}
<script>
activeDays = [{{ activeDays|join(',') }}];
</script>
{{ parent() }}

{% endblock %}