{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
{% embed "@TigrisBase/decorators/_card.html.twig" %}
{% block header %}
        <span class="lead">{{ entity.resource.name }}</span>
    {% endblock %}
{% block body %}
{% include '@TigrisCalendar/booking/_info.html.twig' %}
{% endblock %}

{% block footer %}
{% if is_granted('edit', entity) %}
    <a href="{{ path('tigris_calendar_admin_booking_edit', {'id': entity.id}) }}" class="btn btn-light">{{ 'button.update'|trans|parse_icons }}</a>
{% endif %}
{% if is_granted('cancel', entity) %}
    <a href="{{ path('tigris_calendar_admin_booking_cancel', {'id': entity.id}) }}" class="btn btn-danger">{{ 'button.cancel'|trans|parse_icons }}</a>
{% endif %}
{% endblock %}
{% endembed %}
{% endblock %}