{% embed '@TigrisBase/decorators/_form.html.twig' with {'formOptions': {'attr': {'novalidate':true}}} %}
    {% block body %}
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="resourceTabMenu" role="tablist">
                    <a class="nav-link active" id="global-tab" data-bs-toggle="tab" href="#global" role="tab" aria-controls="global" aria-selected="true">
                        {{ 'calendar.resource.fieldset.global_settings'|trans|parse_icons }}
                        {% if not form.name.vars.valid %}
                            <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                        {% endif %}
                    </a>
                    {% if allowUserBooking %}
                    <a class="nav-link" id="availability-tab" data-bs-toggle="tab" href="#availability" role="tab" aria-controls="availability" aria-selected="true">
                        {{ 'calendar.resource.fieldset.availability'|trans|parse_icons }}
                        {% if not form.statusMessage.vars.valid %}
                            <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                        {% endif %}
                    </a>
                    
                    <a class="nav-link" id="date_time-tab" data-bs-toggle="tab" href="#date_time" role="tab" aria-controls="date_time" aria-selected="true">
                        {{ 'calendar.resource.fieldset.date_time'|trans|parse_icons }}
                        {% if not form.maxDuration.vars.valid or not form.lockTimes.vars.valid %}
                            <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                        {% endif %}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="resourceTab">
                    <div class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'calendar.resource.fieldset.global_settings'|trans|parse_icons }}</legend>
                            {{ form_row(form.name) }}
                            {{ form_row(form.category) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.image) }}
                            {{ form_row(form.sendNotification) }}
                        </fieldset>
                    </div>
                    {% if allowUserBooking %}
                    <div class="tab-pane fade" id="availability" role="tabpanel" aria-labelledby="availability-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'calendar.resource.fieldset.availability'|trans|parse_icons }}</legend>
                            {{ form_row(form.status) }}
                            {{ form_row(form.statusMessage) }}
                            {{ form_row(form.visibility) }}
                            {{ form_row(form.selectedUsers) }}
                        </fieldset>
                    </div>

                    <div class="tab-pane fade" id="date_time" role="tabpanel" aria-labelledby="date_time-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'calendar.resource.fieldset.date_time'|trans|parse_icons }}</legend>
                            {{ form_row(form.minDuration) }}
                            {{ form_row(form.maxDuration) }}
                            {{ form_row(form.severalDays) }}
                            {{ form_row(form.lockTimes) }}
                        </fieldset>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
    