{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'calendar.menu.resources'|trans|parse_icons }}{% endblock %}
{% block main %}
<tigris-data-list route="tigris_calendar_admin_resource_list" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
{% block header %}
<button-action v-on:formsaved="loadData()" route="tigris_calendar_admin_resource_new" :route-params="{}" type="success" :modal="true">
    <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'calendar.resource.add.title'|trans }}
</button-action>
{% endblock %}
{% block table %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><sort-item label="{{ 'name'|trans }}" value="name" v-on:change="sort"></sort-item></th>
                <th>{{ 'calendar.resource.visibility.label'|trans }}</th>
                <th><sort-item label="{{ 'calendar.resource.category'|trans }}" value="category" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'calendar.resource.status.label'|trans }}" value="status" v-on:change="sort"></sort-item></th>

                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entity in entities" :key="entity.id">
                <td>
                    <div class="d-flex">
                        <img v-if="entity.image" :src="'/'+entity.image.styleWebPath.thumbnail" :alt="entity.name" :style="{ width: '66px'}" class="me-2">
                        <div>
                            <strong>${ entity.name }</strong>
                            <div>${ $filters.truncate(entity.description, 60) }</div>
                        </div>
                    </div>
                </td>
                <td>
                    <span v-if="entity.visibility == 1">{{ 'calendar.resource.visibility.all'|trans }}</span>
                    <span v-else-if="entity.visibility == 2">{{ 'calendar.resource.visibility.admins'|trans }}</span>
                    <div v-else-if="entity.visibility == 3">
                        <span>{{ 'calendar.resource.only_visible_by'|trans }}</span><br/>
                        <span v-for="selectedUser in entity.selectedUsers" :key="selectedUser.id" class="badge bg-secondary me-1">${ selectedUser.fullName }</span>
                    </div>
                </td>
                <td><span class="color-icon" :style="'background-color:'+entity.category.color"></span> ${ entity.category.name }</td>
                <td v-if="entity.status === 'available'" class="text-bg-success">{{ 'calendar.resource.status.available'|trans }}</td>
                <td v-else class="text-bg-warning">{{ 'calendar.resource.status.unavailable'|trans }}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button-action v-on:formsaved="loadData()" route="tigris_calendar_admin_resource_edit" :route-params="{id:entity.id}" type="light" :modal="true" title="{{ 'button.edit'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                        {#<button-action v-on:formsaved="loadData()" route="tigris_calendar_admin_category_remove" :route-params="{id:entity.id}" type="danger" :modal="true">{{ '.icon-trash'|parse_icons }}</button-action>
                        #}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<div class="data-list-footer">
    <div>
        <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
    </div>
    <pagination></pagination>
</div>
{% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}