{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'calendar.resource.add.title'|trans }}{% endblock %}
{% block main %}
    {% include "@TigrisCalendar/admin/booking/resource/_form.html.twig" %}
{% endblock %}