[data-bs-theme=dark] {
    --fc-page-bg-color: var(--bs-card-bg);
}

.fc-dragging {
    opacity: 0.8;
}

.fc-header-toolbar {
    padding: 15px 8px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
    }

    .fc-center {
        margin: 12px 0px;
    }
}

.fc {
    .fc-content {
        .fc-time {
            display: none;

            @include media-breakpoint-up(lg) {
                display: inline;
            }
        }
    }

    .lock-time {
        background-image: repeating-linear-gradient(-45deg, #44444446, #44444446 9px, transparent 9px, transparent 18px);
        border: none;
        box-shadow: none
    }

    .bi-chevron-right {
        @extend .fa;
        @extend .fa-chevron-right;
    }

    .bi-chevron-left {
        @extend .fa;
        @extend .fa-chevron-left;
    }
}

#booking-categories {
    position: sticky;
    top: 60px;

    .resource-droppable {
        .alert {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .resource-category-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 4px;

        h2 {
            font-size: 1.2em;
        }

        .custom-control {
            padding: 0;
        }

        .icon {
            transition: transform 0.2s;
            display: inline-block;
            position: relative;
            margin-right: 8px;
        }

        .collapsed {
            .icon {
                transform: rotate(-90deg);
            }
        }
    }
}

.booking-resource {
    align-items: stretch;
    margin: 4px 0;

    .booking-resource-image {
        max-width: 90px;
    }

    .media-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .resource-unavailable {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .resource-infos {
        h3 {
            font-size: 1.2em;
        }
    }
}

#accordionCategory {
    h3 {
        font-size: 1.2em;
        color: $gray-700;
        border-top: solid $gray-400 1px;
        margin-top: 12px;
    }

    h4 {
        font-size: 1em;
    }
}

.booking {
    .description {
        margin-top: 20px;
        padding: 8px 15px;
        border-left: #999999AA 4px solid;
    }
}

#booking-preview {
    position: relative;

    .table {
        text-align: center;

        td {
            padding: 0;
        }
    }

    .booking-day {
        position: relative;

        .booking-day-infos {
            position: absolute;
            z-index: 10;
            width: max-content;
            display: none;
        }

        &:hover {
            .booking-day-infos {
                display: block;
            }
        }
    }
}

.fc-theme-bootstrap5 {

    & .fc-list,
    & .fc-scrollgrid,
    & td,
    & th {
        border: 1px solid var(--bs-border-color);
    }
}

.tigris-booking-calendar {
    display: flex;
    justify-content: stretch;

    .calendar-container {
        flex-grow: 1;
    }

    .calendar-resources {
        width: 360px;
        flex-shrink: 0;
        padding: 0 1em 0 0;
    }
}