<script>
export default {
    props: {
        route: {
            type: String,
            required: false,
            default: 'tigris_calendar_booking_show',
        },

        eventId: {
            type: Number,
            required: true,
        },
    },

    data() {
        return {
            event: null,
        }
    },

    mounted() {
        this.loadData();
    },

    methods: {
        loadData() {
            const url = Routing.generate(this.route, { id: this.eventId });
            this.$http.get(url).then((response) => {
                if (response.data.status === 'success') {
                    this.event = response.data.entity;
                }
            });
        },
        formSaved() {
            this.loadData();
            this.$emit('valid');
        }
    }
}
</script>

<template>
    <div class="card">
        <div class="card-header" v-if="event">
            <span class="lead">{{ event.resource.name }}</span>
        </div>
        <div class="card-body">
            <div class="booking" v-if="event">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Réservation</h2>
                        <div class="info-box bg-info text-light">
                            <div class="info-box-icon" v-html="$filters.parseIcons('.icon-calendar-alt')">
                            </div>
                            <div class="info-box-content">
                                <div class="dates">
                                    <div v-if="$filters.formatDate(event.startDate, 'l') === $filters.formatDate(event.endDate, 'l')">{{ $filters.formatDate(event.startDate) }} - {{ $filters.formatDate(event.endDate, 'LT') }}</div>
                                    <div v-else>{{ $filters.formatDate(event.startDate) }} - {{ $filters.formatDate(event.endDate) }}</div>
                                </div>
                                <div class="duration">{{ event.formattedDuration }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h2>Utilisateur</h2>
                        <div class="info-box bg-body-tertiary">
                            <div class="info-box-icon" v-html="$filters.parseIcons('.icon-user')">
                            </div>
                            <div class="info-box-content">
                                {{ event.user.fullName }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="description" v-html="event.description" v-if="event.description"></div>
            </div>
        </div>

        <div class="card-footer" v-if="event">
            <button-action v-if="event.canEdit" route="tigris_calendar_booking_edit" :route-params="{id:event.id}" type="secondary" :modal="true" class="me-2" @form-saved="formSaved">{{ $filters.trans('btn.edit') }}</button-action>
            <button-action v-if="event.canCancel" route="tigris_calendar_booking_cancel" :route-params="{id:event.id}" type="danger" :modal="true">{{ $filters.trans('btn.cancel') }}</button-action>
        </div>
    </div>
</template>