<div class="booking-resource media">
    {% if entity.image is not null %}
    <img class="me-2 booking-resource-image" src="{{ asset(entity.image.webPath('thumbnail')) }}" alt="{{ entity.name }}">
    {% endif %}
    <div class="media-body">
        <div class="resource-infos">
            <h4>{{ entity.name }}</h4>
            <div class="form-check">
                <input type="checkbox" class="form-check-input select-resource" id="resource-select-{{ entity.id }}" data-category="{{ entity.category.id }}" v-model="selectedResources" value="{{ entity.id }}" @change="(e) => triggerResourceSelect({{ entity.id}}, e.target.checked)">
                <label class="form-check-label" for="resource-select-{{ entity.id }}">{{ 'calendar.booking.show_resource'|trans }}</label>
            </div>
        </div>
        {% if entity.status == constant('STATUS_AVAILABLE', entity) %}
        <div class="btn-drag btn {% if entity.category.colorLightness < 200 %}text-light{% endif %} btn-sm" style="background-color:{{ entity.category.color }}" data-id="{{ entity.id }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ 'calendar.booking.book_tooltip'|trans }}" title="{{ 'calendar.booking.book_tooltip'|trans }}">
            {{ 'calendar.booking.book'|trans }}
        </div>
        {% else %}
        <div class="resource-unavailable">
            
            {% if entity.statusMessage is not empty %}
            <div class="text-danger">{{ entity.statusMessage }}</div>
            {% else %}
            <div class="badge bg-danger">{{ 'calendar.resource.status.unavailable'|trans }}</div>
            {% endif %}

        </div>
        {% endif %}
    </div>
</div>
