{% macro booking_category(category) %}
    {% for resource in category.resources %}
        {% include '@TigrisCalendar/booking/_booking_resource.html.twig' with {'entity': resource } %}
    {% endfor %}

    {% if category.children is not empty %}
        {% for child in category.children %}
            <h3>{{ child }}</h3>
            {{ _self.booking_category(child) }}
        {% endfor %}
    {% endif %}
{% endmacro %}
{#
<div id="booking-calendar">
    <div class="row">
        {% if allowAdd or is_granted('ROLE_ADMIN') %}
        <div class="col-md-3">
            <div id="booking-categories">
                {% for category in categories %}
                {% set mainLoop = loop %}
                <div class="card card-sm mb-3">
                    <div class="card-header">
                        {{ category }}
                    </div>

                    <div class="card-body">
                        {% if category.resources is not empty %}
                            {% for resource in category.resources %}
                                {% include '@TigrisCalendar/booking/_booking_resource.html.twig' with {'entity': resource } %}
                            {% endfor %}
                        {% endif %}
                        <div class="accordion">
                            {% for child in category.children %}
                            <div class="card card-smart-border mb-2" style="border-top-color:{{ child.color }}">
                                <div class="card-header resource-category-header" id="heading-cat-{{ child.id }}">
                                    <h2 class="mb-0">
                                        <a href="#" data-bs-toggle="collapse" data-bs-target="#collapse-cat-{{ child.id }}" aria-expanded="true" aria-controls="collapse-cat-{{ child.id }}">
                                            <span class="icon">{{ ".icon-chevron-down"|parse_icons }}</span>{{ child }}
                                        </a>
                                    </h2>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" {% if child.id == defaultSelectedCategory %} checked{% endif %} data-select-category="{{ child.id }}" id="category-select-{{ child.id }}">
                                        <label class="form-check-label" for="category-select-{{ child.id }}"> </label>
                                    </div>
                                </div>   

                                <div id="collapse-cat-{{ child.id }}" class="collapse {% if child.id == defaultSelectedCategory %}show{% endif %}" aria-labelledby="heading-cat-{{ child.id }}" data-parent="#booking-categories">
                                    <div class="card-body resource-droppable">
                                        {{ _self.booking_category(child) }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        {% endif %}
        <div class="col">
            <div class="card">
                <div id="calendar" class="tigris-calendar" init-view="timeGridWeek" list-route="tigris_calendar{% if admin %}_admin{% endif %}_booking_calendaritems" show-item-route="tigris_calendar{% if admin %}_admin{% endif %}_booking_show" new-item-route="tigris_calendar{% if admin %}_admin{% endif %}_booking_new">
                </div>
            </div>
        </div>
    </div>
</div>#}
<div id="booking-calendar">
    <tigris-booking-calendar v-slot="{selectedResources, triggerResourceSelect, selectResources, unselectResources}" :active-days="[{{ activeDays|join(',') }}]" :prefered-resources="[{{ defaultSelectedResource ?? '' }}]">
        <div id="booking-categories">
            {% for category in categories %}
            {% set mainLoop = loop %}
            <div class="card card-sm mb-3">
                <div class="card-header">
                    {{ category }}
                </div>

                <div class="card-body">
                    {% if category.resources is not empty %}
                        {% for resource in category.resources %}
                            {% include '@TigrisCalendar/booking/_booking_resource.html.twig' with {'entity': resource } %}
                        {% endfor %}
                    {% endif %}
                    <div class="accordion">
                        {% for child in category.children %}
                        <div class="card card-smart-border mb-2" style="border-top-color:{{ child.color }}">
                            <div class="card-header resource-category-header" id="heading-cat-{{ child.id }}">
                                <h2 class="mb-0">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#collapse-cat-{{ child.id }}" aria-expanded="true" aria-controls="collapse-cat-{{ child.id }}">
                                        <span class="icon">{{ ".icon-chevron-down"|parse_icons }}</span>{{ child }}
                                    </a>
                                </h2>
                                {#<div class="form-check">
                                    <input type="checkbox" class="form-check-input" {% if child.id == defaultSelectedCategory %} checked{% endif %} data-select-category="{{ child.id }}" id="category-select-{{ child.id }}">
                                    <label class="form-check-label" for="category-select-{{ child.id }}"> </label>
                                </div>#}
                                <div>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" @click="selectResources([{{ child.resourceIds|join(',') }}])" data-bs-toggle="tooltip" title="{{ 'calendar.category.select_all'|trans }}">{{ '.icon-eye'|parse_icons }}</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm ms-1" @click="unselectResources([{{ child.resourceIds|join(',') }}])" data-bs-toggle="tooltip" title="{{ 'calendar.category.unselect_all'|trans }}">{{ '.icon-eye-slash'|parse_icons }}</button>
                                </div>
                                
                            </div>   

                            <div id="collapse-cat-{{ child.id }}" class="collapse {% if child.id == defaultSelectedCategory %}show{% endif %}" aria-labelledby="heading-cat-{{ child.id }}" data-parent="#booking-categories">
                                <div class="card-body resource-droppable">
                                    {{ _self.booking_category(child) }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </tigris-booking-calendar>
</div>