{% if form.user is defined %}
    {{ form_row(form.user) }}
{% endif %}
{{ form_row(form.description) }}
<div>

    {{ form_label(form.startDate) }}
    <div class="d-flex my-2">
        <div class="me-2">{{ form_widget(form.startDate) }}</div>
        {# <div>{{ form_widget(form.startTime) }}</div> #}
    </div>
</div>

<div>
    {% if form.duration is defined %}
        {{ form_label(form.duration) }}
        <div class="my-2">
            {# <div class="me-2">{{ form_widget(form.endDate) }}</div> #}
            <div>{{ form_widget(form.duration) }}</div>
        </div>
    {% elseif form.endDate is defined %}
    <div class="d-flex my-2">
        <div class="me-2">{{ form_row(form.endDate) }}</div>
    </div>
    
    {% endif %}

</div>