<div class="booking">
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ 'calendar.booking.booking'|trans }}</h2>
            <div class="info-box bg-info text-light">
                <div class="info-box-icon">
                    {{ '.icon-calendar-alt'|parse_icons }}
                </div>
                <div class="info-box-content">
                    <div class="dates">
                    {% if entity.startDate == entity.endDate %}
                        {{ entity.startDateTime|format_datetime("medium", "short")}} - {{ entity.endTime|format_datetime("none", "short")}}
                    {% else %}
                        {{ entity.startDateTime|format_datetime("medium", "short")}} - {{ entity.endDateTime|format_datetime("medium", "short")}}
                    {% endif %}
                    </div>
                    <div class="duration">{{ entity.formattedDuration }}</div>
                </div>
                
            </div>
        </div>

        <div class="col-lg-6">
            <h2>{{ 'calendar.booking.user'|trans }}</h2>
            <div class="info-box bg-body-tertiary">
                <div class="info-box-icon">
                    {{ '.icon-user'|parse_icons }}
                </div>
                <div class="info-box-content">
                    {{ entity.user }}
                </div>
            </div>
        </div>
    </div>

    {% if  entity.description is not empty %}
    <div class="description">
        {{ entity.description|raw }}
    </div>
    {% endif %}
</div>
    