{% set time = (year ~ "-" ~ month ~ "-01")|date("U") %}
{% set startDow = time|date('F 1\\s\\t Y')|date('N') %}
{% set dow = startDow %}

<div id="booking-preview">
    {# <div class="row">
        <div class="col-lg-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="7">
                            <div class="d-flex justify-content-between align-items-center">
                                <a rel="nofollow" href="?m={{ prevMonth }}&y={{ prevYear }}" class="btn btn-light">{{ '.icon-arrow-left'|parse_icons }}</a>
                                <span>{{ time|format_date(pattern="MMM Y") }}</span>
                                <a rel="nofollow" href="?m={{ nextMonth }}&y={{ nextYear }}" class="btn btn-light">{{ '.icon-arrow-right'|parse_icons }}</a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>L</th>
                        <th>M</th>
                        <th>M</th>
                        <th>J</th>
                        <th>V</th>
                        <th>S</th>
                        <th>D</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                    {% for day in range(1,nbDays) %}
                        {% set weekNumber = (year ~ "-" ~ month ~ "-" ~ day)|date("N") %}
                        {% set data = days[day] %}
                        {% if loop.first and startDow != 1 %}
                            <td colspan="{{ startDow - 1 }}"></td>
                        {% endif %}
                        <td class="{% if weekNumber in excludeDays %}bg-gray exclude{% elseif data.count > 0 %}bg-warning{% else %}bg-success{% endif %}">
                            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-target="#book-day-{{ day }}">
                                <div>{{ day }}</div>
                            </button>
                        </td>
                        {% if loop.last and dow != 7 %}
                            <td colspan="{{ 7 - dow }}">&nbsp;</td>
                        {% endif %}
                        {% if dow == 7 %}
                            {% set dow = 1 %}
                        </tr>
                        <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-6">
            <div id="book-days">
                <div class="card" >
                    <div class="card-header">
                        {{ 'calendar.booking.availability'|trans }}
                    </div>
                {% for key, day in days %}
                    <div class="list-group collapse" id="book-day-{{ key }}" data-parent="#booking-preview">
                        <div class="list-group-item date">{{ (year ~ "-" ~ month ~ "-" ~ key)|format_date('medium')  }}</div>
                        {% for index, resource in day %}
                            
                            {% if resource.bookings is defined %}
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ resource.name }}
                                    </div>
                                    <div class="col-lg-6">
                                        {% for booking in resource.bookings %}
                                        {{ booking.startDate|format_datetime("none","short") }} - {{ booking.endDate|format_datetime("none","short") }}<br/>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                
                {% endfor %}
                </div>
            </div>
            
        </div>
    </div> #}
    <tigris-booking-preview route="tigris_calendar_booking_calendaritems"></tigris-booking-preview>
</div>