{% extends app.request.xmlHttpRequest ? '@TigrisBase/ajax-layout.html.twig' : '@TigrisBase/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_card.html.twig' %}
    {% block body %}
    <div class="alert alert-danger">
        {{ 'calendar.booking.cannot_booking'|trans }}
        <div>
            <strong>{{ ('calendar.booking.reason.'~reason)|trans }}</strong>
        </div>
    </div>
    {% endblock %}
    {% endembed %}
{% endblock %}