{% extends '@TigrisBase/layout.html.twig' %}
{% block title %}{{ 'calendar.booking.title'|trans|parse_icons }}{% endblock %}
{% block main %}
{% include "@TigrisCalendar/booking/_booking_calendar.html.twig" with {"admin": false} %}

{% endblock %}