{% extends '@TigrisBase/layout.html.twig' %}
{% block title %}{{ 'calendar.booking.title'|trans|parse_icons }}{% endblock %}
{% block main %}
<tigris-data-list route="tigris_calendar_booking_userdata" :init-filters="{endDate:'{{ endDate|date() }}', startDate:'{{ startDate|date() }}', user:0, resource:0, canceled:false}" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}

{% block body %}
    <form action="" method="get" class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="form-group ms-2">
            <label class="form-label"><small>{{ 'date.start'|trans }}</small></label>
            <div class="input-group">
                <span class="input-group-text">{{ '.icon-calendar'|parse_icons }}</span>
                {# <datetime-picker value="{{ startDate|date("d/m/Y") }}" v-on:change="value => { filters.startDate = value }" :model="filters.startDate" data-format="DD/MM/y" format="DD/MM/YYYY" /> #}
                <v-date-picker v-model="filters.startDate">
                <template v-slot="{ inputValue, inputEvents }">
                    <input
                    class="form-control data-picker-control"
                    :value="inputValue"
                    v-on="inputEvents"
                    />
                </template>
                </v-date-picker>
            </div>
        </div>
        <div class="form-group ms-2">
            <label class="form-label"><small>{{ 'date.end'|trans }}</small></label>
            <div class="input-group">
                <span class="input-group-text">{{ '.icon-calendar'|parse_icons }}</span>
                <v-date-picker v-model="filters.endDate">
                <template v-slot="{ inputValue, inputEvents }">
                    <input
                    class="form-control data-picker-control"
                    :value="inputValue"
                    v-on="inputEvents"
                    />
                </template>
                </v-date-picker>
            </div>
        </div>
        <div class="form-group ms-2">
            <label class="form-label"><small>{{ 'calendar.resource.resource'|trans }}</small></label>
            <select class="form-control" v-model="filters.resource">
                <option value="0">{{ 'calendar.resource.all'|trans }}</option>
                {% for category in categories %}
                <optgroup label="{{ category.name }}">
                    {% for resource in category.resources %}
                    <option value="{{ resource.id }}">{{ resource.name }}</option>
                    {% endfor %}
                </optgroup>
                
                {% endfor %}
            </select>
        </div>
        <div class="form-group ms-2">
            <label class="form-label"><small>{{ 'calendar.booking.canceled'|trans }}</small></label>
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="booking-canceled-toggle" v-model="filters.canceled">
                <label class="form-check-label" for="booking-canceled-toggle"></label>
            </div>
        </div>
        </div>
        

        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </form>
{% endblock %}

{% block table %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><sort-item label="{{ 'calendar.booking.start'|trans }}" value="startDate" v-on:change="sort"></sort-item></th>
                <th>{{ 'calendar.booking.duration.label'|trans }}</th>
                <th><sort-item label="{{ 'calendar.resource.resource'|trans }}" value="resource" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'calendar.booking.canceled'|trans }}" value="cancelDate" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'calendar.resource.category'|trans }}" value="category" v-on:change="sort"></sort-item></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entity in entities" :key="entity.id">
                <td>
                    <button-action dialog-component="EventView" :dialog-component-props="{eventId:entity.id}" type="link" :modal="true" title="{{ 'button.show'|trans }}">
                    ${ $filters.formatDate(entity.startDate, 'LLL')}
                    </button-action>
                </td>
                <td>${entity.formattedDuration}</td>
                <td>${entity.resource.name}</td>
                <td>
                    <span class="badge bg-secondary" v-if="null == entity.cancelDate">{{ 'no'|trans }}</span>
                    <span class="badge bg-danger" v-else>${ $filters.formatDate(entity.cancelDate, 'LLL')}</span>
                </td>
                <td :style="'background-color:'+entity.resource.category.color" class="text-light">${entity.resource.category.name}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block footer %}
<div class="data-list-footer">
    <div>
        <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
    </div>
    <pagination></pagination>
</div>

{% endblock %}
{% endembed %}
</tigris-data-list>

{% endblock %}
