{% extends app.request.xmlHttpRequest ? '@TigrisBase/ajax-layout.html.twig': '@TigrisBase/layout.html.twig' %}
{% block main %}
{% embed "@TigrisBase/decorators/_card.html.twig" %}
{% block header %}
        <span class="lead">{{ entity.resource.name }}</span>
    {% endblock %}
{% block body %}
{% include '@TigrisCalendar/booking/_info.html.twig' %}
{% endblock %}

{% block footer %}
{% if is_granted('edit', entity) %}
    <a href="{{ path('tigris_calendar_booking_edit', {'id': entity.id}) }}" class="btn btn-light" close-dialog>{{ 'button.update'|trans|parse_icons }}</a>
    {#<button-action route="tigris_calendar_booking_edit" :route-params="{id:entity.id}" type="btn-secondary" :modal="true" title="{{ 'button.update'|trans }}">{{ 'button.update'|trans|parse_icons }}</button-action>#}
{% endif %}
{% if is_granted('cancel', entity) %}
    <a href="{{ path('tigris_calendar_booking_cancel', {'id': entity.id}) }}" class="btn btn-danger" close-dialog>{{ 'button.cancel'|trans|parse_icons }}</a>
    {#<button-action route="tigris_calendar_booking_cancel" :route-params="{id:entity.id}" type="btn-danger" :modal="true" title="{{ 'button.cancel'|trans }}">{{ 'button.cancel'|trans|parse_icons }}</button-action>#}

{% endif %}
{% endblock %}
{% endembed %}
{% endblock %}