{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'calendar.category.title'|trans }}{% endblock %}
{% block main %}
<tigris-data-list route="tigris_calendar_admin_bookingcategory_data" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
{% block header %}
<button-action v-on:formsaved="loadData()" route="tigris_calendar_admin_bookingcategory_new" :route-params="{}" type="success" :modal="true">
    <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'calendar.category.add.title'|trans }}
</button-action>
<button-action v-on:formsaved="loadData()" route="tigris_calendar_admin_bookingcategory_sort" :route-params="{}" type="info" :modal="true">
    <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'calendar.category.sort.title'|trans }}
</button-action>
{% endblock %}
{% block table %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entity in entities" :key="entity.id">
                <td style="line-height: 18px"><span class="color-icon" :style="'background-color:'+entity.color"></span> ${ entity.name }</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button-action v-on:formsaved="loadData()" route="tigris_calendar_admin_bookingcategory_edit" :route-params="{id:entity.id}" type="light" :modal="true" title="{{ 'button.edit'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                        <button-action v-on:formsaved="loadData()" route="tigris_calendar_admin_bookingcategory_remove" :route-params="{id:entity.id}" type="danger" :modal="true" title="{{ 'button.delete'|trans }}">{{ '.icon-trash'|parse_icons }}</button-action>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<div class="data-list-footer">
    <div>
        <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
    </div>
    <pagination></pagination>
</div>
{% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}