<script>
import "v-calendar/dist/style.css";
import VCalendar from "v-calendar";
import {debounce} from "../../../tigris-base-bundle/assets/ts/utils";

export default {
    props: {
        route: {
            type: String,
            required: true,
        },
    },

    data: function () {
        return {
            selectedDay: null,
            bookings: [],
            bookingDataUrl: "",
            attributes: [],
            selectedAttributes: [],
        };
    },

    mounted: function () {},

    methods: {
        onDayClick(day) {
            this.selectedDay = day;
            this.selectedAttributes = day.attributes;
        },

        onPageChange: debounce(function (page) {
            this.bookingDataUrl = Routing.generate(this.route);
            let y = page.year;
            let m = (page.month + "").padStart(2, "0");

            let daysInMonth = new Date(y, m + 1, 0).getDate();

            let startDate = y + "-" + m + "-01T00:00:00+02:00";
            let endDate = y + "-" + m + "-" + daysInMonth + "T00:00:00+02:00";

            this.$http
                .get(this.bookingDataUrl, {
                    params: { startDate: startDate, endDate: endDate },
                })
                .then((response) => {
                    this.bookings = response;
                    this.generateAttributes();
                });
        }, 600),

        generateAttributes() {
            this.attributes = [];
            for (const booking of this.bookings) {
                let startDate = new Date(booking.start);
                let endDate = new Date(booking.end);
                this.attributes.push({
                    key: booking.id,
                    highlight: "orange",
                    dates: { start: startDate, end: endDate },
                    customData: { description: booking.title },
                });
            }
        },

        formatDate(date) {
            return new Intl.DateTimeFormat("fr", {
                timeStyle: "short",
            }).format(date);
        },
    },

    components: {
        VCalendar: VCalendar,
    },
};
</script>

<template>
    <div class="row">
        <div class="col-lg-6">
            <v-calendar
                :attributes="attributes"
                is-expanded
                v-on:dayclick="onDayClick"
                v-on:update:from-page="onPageChange"
            />
        </div>

        <div class="col-lg-6">
            <div class="card" v-if="selectedDay != null">
                <div class="card-header d-flex justify-content-center">
                    {{ selectedDay.ariaLabel }}
                </div>

                <ul class="list-group list-group-flush">
                    <li
                        class="list-group-item d-flex justify-content-between"
                        v-for="(attribute, index) in selectedAttributes"
                        :key="index"
                    >
                        <span>{{ attribute.customData.description }} </span>
                        <div>
                            {{ formatDate(attribute.dates[0].start) }} -
                            {{ formatDate(attribute.dates[0].end) }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>