{% extends '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ (transPrefix ~ '.list')|trans }}{% endblock %}
{% block main %}
<tigris-data-list route="{{ routePrefix }}_data" :init-filters='{"search":"", "type":"all"}' v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block body %}
    <div class="d-flex justify-content-between">
        <div>
            
        </div>

        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </div>
    {% endblock %}
    {% block table %}
    <table class="table table-striped" :class="{loading: loading}">
        <thead>
            <tr>
                <th><sort-item label="{{ "calendar.event_repeat.event"|trans }}" value="event" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ "calendar.event_repeat.first_date"|trans }}" value="firstDate" v-on:change="sort"></sort-item></th>
                <th>{{ 'calendar.event_repeat.event_count'|trans }}</th>
                <th><sort-item label="{{ "calendar.event_repeat.last_date"|trans }}" value="lastDate" v-on:change="sort"></sort-item></th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entity in entities" :key="entity.id">
                <td><strong>${ entity.event.name }</strong></td>
                <td>${ $filters.formatDate(entity.event.startDate) }</td>
                <td class="text-light bg-secondary">${ entity.events.length }</td>
                <td>${ $filters.formatDate(entity.lastEvent.startDate) }</td>
                <td>
                    <button-action v-on:formsaved="loadData()" route="{{ routePrefix }}_delete" :route-params="{id:entity.id}" type="danger" :modal="true" class="btn-sm">{{ '.icon-trash'|parse_icons }}</button-action>
                </td>
            </tr>
        </tbody>
    </table>
    {% endblock %}
    {% block footer %}
    <div class="data-list-footer">
        <div>
            <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
        </div>
        <pagination></pagination>
    </div>
    {% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}